<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
        <strong>Settings saved!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <a [routerLink]="['../profilepicture', account?.login]">
        <div *ngIf="profilePicture == null || profilePicture == undefined">
          <img
            [src]="pPicture"
            style="width: 20%; text-align: center; margin-left: auto; margin-right: auto; display: block; border-radius: 90%"
          />
        </div>
        <div *ngIf="profilePicture">
          <img
            [src]="profilePicture"
            style="
              width: 20%;
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              display: block;
              border-radius: 90%;
              border: 2px solid gray;
            "
          />
        </div>
      </a>

      <div *ngIf="picture">
        <a [routerLink]="['../picture', account?.login]">
          <img [src]="picture" class="img-fluid" />
        </a>
        <br />
        <br />
      </div>

      --> To Refresh Picture Reload Page <br /><br />
      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
        <div class="form-group">
          <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
            formControlName="firstName"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.required"
              jhiTranslate="settings.messages.validate.firstname.required"
            >
              Your first name is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.minlength"
              jhiTranslate="settings.messages.validate.firstname.minlength"
            >
              Your first name is required to be at least 1 character.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
              jhiTranslate="settings.messages.validate.firstname.maxlength"
            >
              Your first name cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
            formControlName="lastName"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.required"
              jhiTranslate="settings.messages.validate.lastname.required"
            >
              Your last name is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.minlength"
              jhiTranslate="settings.messages.validate.lastname.minlength"
            >
              Your last name is required to be at least 1 character.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
              jhiTranslate="settings.messages.validate.lastname.maxlength"
            >
              Your last name cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="phone" jhiTranslate="settings.form.phone">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="{{ 'settings.form.phone.placeholder' | translate }}"
            formControlName="phone"
          />
          <div *ngIf="settingsForm.get('phone')!.invalid && (settingsForm.get('phone')!.dirty || settingsForm.get('phone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('phone')?.errors?.required"
              jhiTranslate="settings.messages.validate.phone.required"
            >
              Your phone is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('phone')?.errors?.minlength"
              jhiTranslate="settings.messages.validate.phone.minlength"
            >
              Your phone is required to be at least 9 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('phone')?.errors?.maxlength"
              jhiTranslate="settings.messages.validate.phone.maxlength"
            >
              Your phone cannot be longer than 13 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Your email is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.email"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Your email is invalid.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Your email is required to be at least 5 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="country" jhiTranslate="settings.form.country">country</label>
          <input
            type="text"
            class="form-control"
            id="country"
            name="country"
            placeholder="{{ 'settings.form.country.placeholder' | translate }}"
            formControlName="country"
          />
        </div>

        <div class="form-group" *ngIf="languages && languages.length > 0">
          <label for="langKey" jhiTranslate="settings.form.language">Language</label>
          <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
            <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
          </select>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
        <button
          type="button"
          *ngIf="picture == undefined || picture == '' || picture == null"
          [routerLink]="['../picture', account.login]"
          id="addPicture"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="register.form.addPicture">Add action picture</span>
        </button>
        <button type="button" *ngIf="picture" [routerLink]="['../picture', account.login]" id="addPicture" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="register.form.changePicture">Change profile picture</span>
        </button>
      </form>
    </div>
  </div>
</div>
