<h4> &nbsp; &nbsp;  Tip for: {{id}}</h4>
 <img src="../../content/images/bit.png" style=" display: inline-block;
 max-width: 10%;min-width: 25%;">

<img src="../../content/images/paybox.png" style=" display: inline-block;
max-width: 7%;min-width: 20%;border-radius: 10%;">
<br>

<br><br>
Please write in  ( למה): <span style="font-size: large;">{{id}}</span>
<br><br>
Event organizer: Sean Rosenzvaig <h4>0534256152</h4>
<br><br>

<img src="../../content/images/seanNumber.jpg" style=" display: inline-block;
max-width: 7%;min-width: 55%;border-radius: 10%;"> &nbsp; &nbsp; &nbsp;<br><br>
<img src="../../content/images/ex.jpg" style=" display: inline-block;
max-width: 7%;min-width: 55%;border-radius: 10%;">

