/* ==========================================================================
Main page styles
========================================================================== */
.Progress {
  height: 5px;
  width: 100%;
  background-color: rgb(67, 67, 68);
  border-radius: 6px;
}

.seccion {
  height: 2px;
  background-color: red;
  border-radius: 2px;
}

td {
  line-height: 1.3;
  font-size: 0.8rem;
}

.toGo {
  background-color: aqua;
}

.contributors {
  text-align: right;
  right: 5px;
  padding-right: 12px;
  color: rgb(146, 148, 148);
}
.contributors a {
  color: silver;
}
