<div *ngIf='isPhotoBig1'>
  <img [src]='photoBig1'style="width: 100%;" class="img-fluid"> 
 </div>     
         
             <br><br><br>
 
 
             <section class="contact-section bg-black">
             <div class="container">
 
             <div class="row">
                 <div class="col-md-4 mb-3 mb-md-0" *ngFor="let trick of tricks">
                     <div class="card py-4 h-100">
                         <div class="card-body text-center">
                             <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                             <h4 class="text-uppercase m-0">{{ trick.name }}</h4>
                             <hr class="my-4" />
                            
                                 <table style="width: 100%;">
                                     <tr>
                                         <td>
                                             <table style="width: 100%;">
                                                 <tr>
                                                     <td style="width: 5%;text-align: left;">0</td>  <td [style.width.%]="trick.percentageCovered" style="text-align: right;"> {{ trick.currentAmount }}</td> <td [style.width.%]="trick.percentageToGo"></td> <td style="width: 3%;text-align: right;">{{ trick.objectiveAmount }}</td>
                                                 </tr>
                                             </table>  
                                             <table style="width: 100%;">
                                                 <tr>
                                                   <td [style.width.%]="trick.percentageCovered" class="seccion"></td> <td [style.width.%]="trick.percentageToGo" class="toGo"></td> 
                                                 </tr>
                                             </table>             
                                           </td>
                                     </tr>
                                 </table>
                             
                             <br>
                             <div><a [routerLink]="['/tip', trick.name]" >Tip me !! </a> </div>
                         </div>
                         <div class="contributors"><a [routerLink]="['/contributors', trick.id]" >Tips</a></div> 
                     </div>
                     
                 </div>
                 </div>
                 </div>
 
             </section>
 
         <br><br><br><br><br><br>
        
 
         <div [ngSwitch]="isAuthenticated()">
             <div class="alert alert-success" *ngSwitchCase="true">
                 <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                     [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
             </div>
 
             <div class="alert alert-warning" *ngSwitchCase="false">
                 <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                 <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.signin">sign in</a>
             </div>
 
             <div class="alert alert-warning" *ngSwitchCase="false">
                 <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                 <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
             </div>
         </div>
 
        
 
 
 
 
 